<p>hello</p>

  <% for album in @albums %>

     <p>

   Title:  <%= album.title()%>
     </p>

     <p>
   Artist:  <%= album.artist_id()%>
     </p>

     <p>
   Genre:  <%= album.genre_id()%>
     </p>

     <p>
   In stock:  <%= album.quantity()%>
     </p>
     <p>
   Sold:  <%= album.sold()%>
     </p>
     <p>
   Price:  <%= album.price()%>
     </p>


<hr><hr>
 <% end %>
