<center>
<h1 class="blur_bold"> everything we have in stock..</h1>


<table class="album_table">
  <tr>
    <th><form action="/albums">
    <input class="btt-sm-edit"type="submit" value="Title" />
  </form></th>

    <th>Artist</th>
    <th>Genre</th>
    <th>Stock</th>
    <th>Sold</th>
    <th>Price</th>
    
  </tr>
  <% for album in @albums %>
  <tr>
    <td class="table-indent"><%= album.title()%></td>

    <td class="table-indent"><%= album.artist().name %></td>

    <td><center><%= album.genre().type %></center></td>

    <td><center><%= album.quantity()%></center></td>

    <td><center><%= album.sold()%></center></td>

    <td><center>£<%= album.price()%></center></td>

    <td><form action="/albums/<%= album.id%>/edit">
    <input class="btt-sm-edit"type="submit" value="Edit" />
  </form></td>

    <td><form method="post" action="/albums/<%= album.id%>/delete">
    <input class="btt-sm-edit" type="submit" value="Delete" />
  </form></td>

    <td><form method="post" action="/albums/<%= album.id%>/sell">
    <input class="btt-sm-edit" type="submit" value="Sell" />
  </form></td>
  
  </tr>
  <% end %>
</table>
  <p><strong class="blur">Your top seller this month is the '<%=@top_seller%>' album.</strong></p>
<br/>
    <a class="button" href="../artists/new">ADD ARTIST</a>
    <a class="button" href="../albums/gallery">GALLERY VIEW</a>
    <a class="button" href="../albums/new">ADD ALBUM</a>
<br/>

</center>