<center>
  <h1 class="blur_bold"> everything we have in stock..</h1>

<div class="main-wrap">
<table class="album_table">

  <tr>
    <th><a class="th-btt-1"href="/albums/title"></a></th>

    <th><a class="th-btt-2"href="/albums/artist"></a></th>

    <th><a class="th-btt-3"href="/albums/genre"></a></th>

    <th><a class="th-btt-4"href="/albums/stock"></a></th>

    <th><a class="th-btt-5"href="/albums/sold"></a></th>

    <th><a class="th-btt-6"href="/albums/price"></a></th>
  </tr>

            <% for album in @albums %>
  <tr>
    <td class="table-indent"><%= album.title()%></td>

    <td class="table-indent"><%= album.artist().name %></td>

    <td><center><%= album.genre().type %></center></td>

    <td><center><%= album.quantity()%></center></td>

    <td><center><%= album.sold()%></center></td>

    <td><center>£<%= album.price()%></center></td>

    <td>
      <form action="/albums/<%= album.id%>/edit">
      <input class="btt-sm-edit"type="submit" value="Edit" />
    </form>
    </td>

    <td>
      <form method="post" action="/albums/<%= album.id%>/delete">
      <input class="btt-sm-edit" type="submit" value="Delete" />
    </form>
    </td>

    <td>
      <form method="post" action="/albums/<%= album.id%>/sell">
      <input class="btt-sm-edit" type="submit" value="Sell" />
    </form>
    </td>
  
  </tr>
    <% end %>
</table>
  
  <br/>
      <a class="button" href="../artists/new">ADD ARTIST</a>
      <a class="button" href="../albums/gallery">GALLERY VIEW</a>
      <a class="button" href="../albums/new">ADD ALBUM</a>
  <br/>
</div>

  <div><br/><br/><br/></div>

</center>