<center>
<h1 class="blur_bold"> Currently everything that is in stock!</h1>


<table class="album_table">
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Genre</th>
    <th>Stock</th>
    <th>Sold</th>
    <th>Price</th>
    
  </tr>
  <% for album in @albums %>
  <tr>
    <td><%= album.title()%></td>
    <td><%= album.artist().name %></td>
    <td><center><%= album.genre().type %></center></td>
    <td><center><%= album.quantity()%></center></td>
    <td><center><%= album.sold()%></center></td>
    <td><center>£<%= album.price()%></center></td>
    <td><form action="/albums/<%= album.id%>/edit">
    <input type="submit" value="Edit" />
  </form></td>
    <td><form action="/albums/%= album.id%>/delete">
    <input type="submit" value="Delete" />
  </form></td>
    <td><form action="/albums">
    <input type="submit" value="Sell" />
  </form></td>
  </tr>
  <% end %>
</table>
</center>